<div class="container">

  <div class="row">

    <div class="col-lg-12">
      <h1 class="page-header">Quienes somos</h1>
      <ol class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li class="active">Quienes Somos</li>
      </ol>
    </div>

  </div>

  <div class="row">

    <div class="col-md-6">
      <img class="img-responsive" src="images/alexlib-logo-info.png">
    </div>
    <div class="col-md-6">
      <h2>Bienvenido a Alexandria Library</h2>
      <p>Piedra, madera, cera, papiro, papel, eBook: el sustrato hasta ahora ha cambiado, pero la palabra escrita ha persistido. Hasta ahora. Porque el próximo libro, si se le puede llamar así, será palabra escrita pero también imagen, animación, vídeos, sonido, conexión a la Red e interacción con el lector.</p>
      <p>No es para asustarse, sino todo lo contrario, darle la bienvenida a los cambios que el libro, la lectura y la industria editorial están experimentando debido a los progresos tecnológicos.</p>
      <p>Alexandria Library abraza el desafío de la modernidad. Somos una editorial pequeña, en crecimiento, que se adapta inmediatamente a los cambios que resulten en una mejor calidad de los libros, mayor rapidez de edición, mayor economía, variedad de formatos y maneras de distribución. En ello radica nuestra fortaleza.</p>
      <p>Podemos convertir la obra de un autor en un libro en papel, electrónico y audiolibro, así como distribuir internacionalmente los tres formatos, situándolos al alcance de los lectores en todo el mundo. El autor solamente sufraga la confección de sus libros por una sola vez, y recibe durante el resto de su vida (y después la de sus herederos) el 100% de las regalías de las ventas.</p>
      <p>Si el autor necesita apoyo en la evaluación, revisión y corrección de su manuscrito, le ofrecemos ese servicio, así como el de traducción y ghostwriting (escritura del libro por un redactor profesional anónimo). Trabajamos directamente con el autor, quien permanece en control total del trabajo para lograr un producto de acuerdo con sus expectativas.</p>
      <p>También ofrecemos muestro servicio de confección de libros en papel, electrónicos y audiolibros, a editoriales que carezcan del nervio técnico necesario para ello, liberándolos de la esclavitud material y permitiéndoles concentrarse en el trabajo literario.</p>
      <p>Reeditamos fondos editoriales en papel, agotados o no, para colocarlos en el sistema de Impresión bajo demanda (Print On Demand, o POD).</p>
      <p>Convertimos fondos editoriales en papel a formato electrónico o de audio.</p>
    </div>

  </div>

  <!-- Team Member Profiles -->

  <div class="row">

    <div class="col-lg-12">
      <h2 class="page-header">Nuestro equipo</h2>
    </div>

    <div class="col-sm-6 text-center">
    	<img class="img-responsive img-team" src="images/equipo/kiko-foto.jpg">
        <h3>Kiko Arocha <small>Editor</small></h3>
    </div>

    <div class="col-sm-6 text-center">
    	<img class="img-responsive img-team" src="images/equipo/vilma-foto.jpg">
        <h3>Vilma Cebrián<small>Editor</small></h3>
    </div>

    <div class="col-sm-6 text-center">
      <img class="img-responsive img-team" src="images/equipo/arturo-foto.jpg">
        <h3>Arturo Arocha<small>eBooks</small></h3>
    </div>

    <div class="col-sm-6 text-center">
      <img class="img-responsive img-team" src="images/equipo/hary-foto.jpg">
        <h3>Hary Vesa<small>Disenadora</small></h3>
    </div>

    <div class="col-sm-6 text-center">
      <img class="img-responsive img-team" src="images/equipo/gabriel-foto.jpg">
        <h3>Gabriel Cebrian<small>Website</small></h3>
    </div>

    <div class="col-sm-6 text-center">
      <img class="img-responsive img-team" src="images/equipo/laura-foto.jpg">
        <h3>Laura Portilla<small>Disenadora</small></h3>
    </div>

    <div class="col-sm-6 text-center">
      <img class="img-responsive img-team" src="images/equipo/pablo-foto.jpg">
        <h3>Pablo Brouwer<small>Disenador</small></h3>
    </div>

    <div class="col-sm-6 text-center">
      <img class="img-responsive img-team" src="images/equipo/jose-foto.jpg">
        <h3>José Lorenzo Fuentes<small>Asesor Literario</small></h3>
    </div>

  </div>

  <!-- Our Customers -->

  <div class="row">

    <div class="col-lg-12">
      <h2 class="page-header">Nuestros clientes</h2>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6">
    	<img class="img-responsive img-customer" src="http://placehold.it/500x300">
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6">
    	<img class="img-responsive img-customer" src="http://placehold.it/500x300">
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6">
    	<img class="img-responsive img-customer" src="http://placehold.it/500x300">
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6">
    	<img class="img-responsive img-customer" src="http://placehold.it/500x300">
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6">
    	<img class="img-responsive img-customer" src="http://placehold.it/500x300">
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6">
    	<img class="img-responsive img-customer" src="http://placehold.it/500x300">
    </div>

  </div>

</div><!-- /.container -->