<div class="container">
  
  <div class="row">
  
    <div class="col-lg-12">
      <h1 class="page-header">Servicios - Correccion de manuscritos</h1>
      <ol class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li class="active">Servicios - Correccion de manuscritos</li>
      </ol>
    </div>

  </div><!-- /.row -->

  <div class="row">
  
    <div class="col-lg-12">
      <img class="img-responsive" src="http://placehold.it/1200x300">
    </div>

  </div><!-- /.row -->

  <!-- Service Paragraphs -->

  <div class="row">

    <div class="col-md-12">
      <h2 class="page-header">Correccion de manuscritos</h2>
        <p><b>Corrección ligera:</b> Si el autor considera que la obra está bien escrita, pero quiere estar seguro de que no aparezca ningún error ortográfico o mecanográfico, necesita la “Corrección ligera”. Precio: $0,01 por palabra del texto.</p>
        <p><b>Corrección intermedia:</b> Si el autor se expresa bien en forma escrita, pero considera que la obra necesita revisión gramatical, la “Corrección intermedia” es la requerida, que incluye la “Corrección ligera”. Precio: $0,02 por palabra del texto.</p>
        <p><b>Corrección total:</b> La corrección total comprende redacción y estilo. Se eliminan ambigüedades, redundancias, y se reescriben los fragmentos confusos. Incluye “Corrección ligera” y “Corrección intermedia”. Precio: $0,03 por palabra del texto.</p>
        <p>Si no está seguro del tipo de corrección que necesita, envíe el libro o un fragmento representativo para asesorarle.</p>
        <p>Contactenos</p>
    </div>
  </div><!-- /.row -->

</div><!-- /.container -->