<div class="container">
  
  <div class="row">
  
    <div class="col-lg-12">
      <h1 class="page-header">Servicios - Ghostwriting</h1>
      <ol class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li class="active">Servicios - Ghostwriting</li>
      </ol>
    </div>

  </div><!-- /.row -->

  <div class="row">
  
    <div class="col-lg-12">
      <img class="img-responsive" src="http://placehold.it/1200x300">
    </div>

  </div><!-- /.row -->

  <!-- Service Paragraphs -->

  <div class="row">

    <div class="col-md-12">
      <h2 class="page-header">Ghostwriting</h2>
        <p>El escritor fantasma (también "escritor negro", "escritor anónimo", "escritor en la sombra") es aquél que escribe bajo el nombre de otra persona que lo autoriza a hacerlo. Las celebridades suelen contratar a escritores fantasmas para que escriban autobiografías en los casos en que ellas o no tienen talento para escribir o están demasiado ocupadas para dedicarse a otros trabajos. También es una solución para personas con afección en la vista o motoras.</p>
        <p>Autores cuyos solos nombres son capaces de vender un libro también contratan a otros escritores, a los que se les reconoce adecuadamente su papel.  Tal es el caso de Tom Clancy, muchos de cuyos libros más recientes llevan el nombre de dos personas en sus tapas: el de Clancy con letras más grandes que las del nombre del otro autor.  En ocasiones el escritor profesional recibirá un reconocimiento parcial, que se indica mediante “y” o “como le contó a”.  El reconocimiento también puede aparecer como un “agradecimiento” en un prólogo o introducción.  En rigor, si el papel y el nombre del escritor menos famoso se reconocen claramente en la obra al ser publicada, no cabe entonces hablar de un escritor fantasma, sino de una colaboración.</p>
        <p>El hecho de que un libro haya sido escrito por un escritor fantasma no necesariamente significa que el autor reconocido no haya contribuido de forma significativa a la obra; por lo general se contrata a un escritor fantasma para que pula y edite el material existente, o para que trabaje directamente con el autor reconocido en la realización del libro de principio a fin.</p>
        <p>Sin embargo, lo contrario también suele ser verdad: los herederos de la escritora de novelas de amor Virgina C. Andrews contrataron a un escritor fantasma para que siguiera escribiendo novelas después de su muerte, bajo el nombre de ella y con un estilo semejante al de sus obras originales.</p>
        <p>Un concepto cercano es el de seudónimo editorial, en cuyo caso una serie se le atribuye a un solo autor para ocultar el hecho de que fueron varias las manos que la escribieron.  Esta práctica se distingue de la escritura fantasma propiamente dicha en que el autor mencionado por lo general no es una persona real.  Ejemplos prominentes, muchos de ellos originados en la empresa de publicaciones  Stratemeyer Syndicate, incluyen a Carolyn Keen (“autora” de las obras de suspenso <i>Nancy Drew</i>), Franklin W. Dixon (<i>The Hardy Boys</i> y <i>Ted Scott Flying Stories</i>), y Maxwell Grant (<i>La Sombra</i>).</p>

        <h3>Libros famosos escritos por escritores fantasmas</h3>

        <ul>
          <li>John F. Kennedy fue señalado de que gran parte de su obra <i>Profiles in Courage</i>, ganadora de un Premio Pulitzer, había sido escrita por su consejero Theodore Sorenson, aunque ambos negaron esa acusación.</li>
          <li>Barbara Feinman fue la escritora fantasma de <i>It Takes a Village and Other Lesson Children Teach Us</i>, de Hillary Clinton.</li>
          <li>Son muchos los que creen que Truman Capote fue el escritor fantasma de To <i>Kill a Mockingbird (Matar a un ruiseñor)</i>, de Harper Lee.</li>
          <li>William Shatner utilizó a un escritor fantasma para sus libros de ciencia ficción.</li>
          <li>H. P. Lovecraft trabajó como escritor fantasma para personas famosas de su época, Harry Houdini entre ellas.</li>
          <li>La novelización de <i>La guerra de las galaxias</i> (que se le atribuyó a George Lucas) fue escrita por Alan Dean Foster.</li>
          <li>Los cinco volúmenes de memorias de Einar Gerhardsen (primer ministro de Noruega de 1945 a 1965) probablemente fueron escritos por el periodista Egil Helle.</li>
          <li>La última parte de la serie de horror para niños Goosebumps en gran medida fue escrita por escritores fantasmas.</li>
          <li>Se sabe que el telepredicador Pat Robertson utilizó escritores fantasmas en sus libros.</li>
          <li>Aleister Crowley fue el escritor fantasma de algunos de los libros de astrología de Evangeline Adams.</li>
        </ul>

        <p>Si usted tiene información para escribir un libro, la decisión de hacerlo, y por cualquier razón no le es posible llevarlo a término, Alexandria Library puede hacerlo por usted, con o sin reconocimiento del escritor involucrado. Una de las maneras más sencillas de hacerlo es mediante entrevistas grabadas al autor, que después el escritor anónimo transcribe y pule. Contáctenos</p>
    </div>
  </div><!-- /.row -->

</div><!-- /.container -->