<div id="myCarousel" class="carousel slide">
  <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <div class="fill" style="background-image:url('images/slide-1.jpg');"></div>
        <div class="carousel-caption">
          <h1>Bienvenido a Alexandria Library</h1>
        </div>
      </div>
      <div class="item">
        <div class="fill" style="background-image:url('images/slide-2.jpg');"></div>
        <div class="carousel-caption">
          <h1>¿Escribió un libro?, nosotros hacemos el resto</h1>
        </div>
      </div>
      <div class="item">
        <div class="fill" style="background-image:url('images/slide-3.jpg');"></div>
        <div class="carousel-caption">
          <h1><a href="/contact">Contactenos</a></h1>
        </div>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="icon-next"></span>
    </a>
</div>

<div class="section">

  <div class="container">

    <div class="row">
      <div class="col-lg-4 col-md-4">
        <h3><i class="fa fa-book"></i> Libros en papel</h3>
        <p>The 'Modern Business' website template by <a href="http://startbootstrap.com">Start Bootstrap</a> is built with <a href="http://getbootstrap.com">Bootstrap 3</a>. Make sure you're up to date with latest Bootstrap documentation!</p>
      </div>
      <div class="col-lg-4 col-md-4">
        <h3><i class="fa fa-desktop"></i> Libro electrónico (eBook)</h3>
        <p>You're ready to go with this pre-built page structure, now all you need to do is add your own custom stylings! You can see some free themes over at <a href="http://bootswatch.com">Bootswatch</a>, or come up with your own using <a href="http://getbootstrap.com/customize/">the Bootstrap customizer</a>!</p>
      </div>
      <div class="col-lg-4 col-md-4">
        <h3><i class="fa fa-volume-down"></i> Audiolibros</h3>
        <p>This template features many common pages that you might see on a business website. Pages include: about, contact, portfolio variations, blog, pricing, FAQ, 404, services, and general multi-purpose pages.</p>
      </div>
    </div><!-- /.row -->

  </div><!-- /.container -->

</div><!-- /.section -->

<div class="section-colored text-center">

  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <h2>¿Vas a publicar? Necesitas un mentor. Alexandria Library te asesora gratuitamente.</h2>
        <p>Autores autopublicados ganaron (USA, 2011) un promedio de $10,000 anuales.</p>
      </div>
      <div class="col-lg-12 contactenos-button-container" style="margin-top: 50px;">
        <a class="btn btn-lg btn-primary" href="/contact">Contactenos ahora!</a>
      </div>
    </div><!-- /.row -->

  </div><!-- /.container -->

</div><!-- /.section-colored -->

<div class="section">

  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Catalogo</h2>
        <hr>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <a href="portfolio-item.html"><img class="img-responsive img-home-portfolio" src="images/catalogo/Hojas-de-otono_COVER_Web.jpg"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <a href="portfolio-item.html"><img class="img-responsive img-home-portfolio" src="images/catalogo/Higuera-COVER_Web.jpg"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <a href="portfolio-item.html"><img class="img-responsive img-home-portfolio" src="images/catalogo/Dolor-emigrar_COVER-Web.jpg"></a>
      </div>
    </div><!-- /.row -->
    <div class="row">
      <div class="col-lg-12 text-center">
        <a class="btn btn-lg btn-primary" href="/catalogo.html">Vea el catalogo completo</a>
      </div>
    </div>

  </div><!-- /.container -->

</div><!-- /.section -->

<div class="section-colored services-alexlib">

  <div class="container">

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <h2>Servicios que Alexandria Library ofrece:</h2>
        <ul>
          <li><a href="libros.html">Publicacion de libros en papel</a></li>
          <li><a href="ebooks.html">Publicacion de eBooks</a></li>
          <li><a href="audiolibros.html">Publicacion Audiolibros</a></li>
          <li><a href="valoracion.html">Valoracion de obras</a></li>
          <li><a href="correccion.html">Correccion del manuscrito</a></li>
          <li><a href="traduccion.html">Traduccion</a></li>
          <li><a href="promocion.html">Promocion</a></li>
          <li><a href="ghostwriting.html">Ghostwriting</a></li>
        </ul>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <img class="img-responsive" src="images/alexlib-logo-info.png">
      </div>
    </div><!-- /.row -->

  </div><!-- /.container -->

</div><!-- /.section-colored -->

<div class="section">

  <div class="container">

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <a href="files/2013-Alexandria-Library-Publishing-House.pdf" target="_blank">
          <img class="img-responsive" src="images/alexlib_folleto.png">
        </a>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <h2>Quieres aprender mas de lo que hacemos?</h2>
        <ul>
          <li>Descarge el folleto explicativo <a href="/files/2013-Alexandria-Library-Publishing-House.pdf" target="_blank">aqui</a></li>
        </ul>
      </div>
    </div><!-- /.row -->

  </div><!-- /.container -->

</div><!-- /.section -->

<div class="container">

  <div class="row well">
    <div class="col-lg-8 col-md-8">
      <h4>Servicio de edición y distribución de libros (papel y eBooks)</h4>
      <p>Los mejores</p>
    </div>
    <div class="col-lg-4 col-md-4">
      <a class="btn btn-lg btn-primary pull-right" href="http://startbootstrap.com">Contactenos ahora!</a>
    </div>
  </div><!-- /.row -->

</div><!-- /.container -->