<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
    <title>Alexandria Library Publishing House - Index</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="/css/alexlib.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
          <a class="navbar-brand" href="/">Alexandria Library</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="about">Quienes somos</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Que hacemos <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="libros">Libros en papel</a></li>
                <li><a href="ebooks">eBooks</a></li>
                <li><a href="audiolibros">Audiolibros</a></li>
                <li><a href="valoracion">Valoracion de la obra</a></li>
                <li><a href="correccion">Correccion de manuscritos</a></li>
                <li><a href="traduccion">Traduccion</a></li>
                <li><a href="promocion">Promocion</a></li>
                <li><a href="ghostwriting">Ghostwriting</a></li>
              </ul>
            </li>
            <li><a href="contact">Contactenos</a></li>
            <li><a href="catalogo">Catalogo</a></li>
            <li><a href="http://www.tintarapida.com/" target="_blank">Blog</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>
    
    <%= yield %>

    <div class="container">
      <hr>
      <footer>
        <div class="row">
          <div class="col-lg-12">
            <p>Copyright &copy; Alexandria Library <%= Time.now.year %></p>
          </div>
        </div>
      </footer>

    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/alexlib.js"></script>
  </body>
</html>
