<div class="container">
  
  <div class="row">
  
    <div class="col-lg-12">
      <h1 class="page-header">Servicios - Traduccion</h1>
      <ol class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li class="active">Servicios - Traduccion</li>
      </ol>
    </div>

  </div><!-- /.row -->

  <div class="row">
  
    <div class="col-lg-12">
      <img class="img-responsive" src="http://placehold.it/1200x300">
    </div>

  </div><!-- /.row -->

  <!-- Service Paragraphs -->

  <div class="row">

    <div class="col-md-12">
      <h2 class="page-header">Traduccion</h2>
        <p>¿Le interesaría su libro al público norteamericano? ¿y al alemán, japonés, francés, portugués, etc.?</p>
        <p>Alexandria Library posee la compañía de traducciones <a href="http://www.webtra.com/" target="_blank">WebTra Company</a>, por lo que puede traducir fielmente su libro a prácticamente cualquier idioma.  Sólo empleamos traductores que traducen hacia su idioma natal y de educación, y que además conozcan el tema del libro.</p>
        <p>Contáctenos para solicitar un estimado de traducción.</p>
    </div>
  </div><!-- /.row -->

</div><!-- /.container -->